
ion-toolbar {
    padding-right: 25px;
  }
  
  
  ion-buttons {
    margin-right: 25px;
  }

ion-header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
}

ion-toolbar {
  display:inline-block ;
  justify-content: space-between;
}

.main-content {
  padding-top: 60px; 
 
}



  